.articleCard {
  width: 941px;
  min-height: 140px;
  background: #FFFFFF;
  margin-bottom: 26px;
  border-radius: 5px;
  box-shadow: 1px 2px 3px 3px #E5E5E5;
  padding: 15px;
}

.description {
  font-family: Inter, sans-serif;
  margin-top: 7px;
  font-size: 12px;
  line-height: 22px;
  overflow-wrap: anywhere;
}