.header {
  position: sticky;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background: #FFFFFF;
  margin-bottom: 26px;
  padding: 22px;

  .head {
    font-family: Inter, sans-serif;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    text-decoration-line: none;
    color: black;
  }

  .rightSide {
    display: flex;
    align-items: center;
    align-content: center;
  }

  .profile {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-right: 27px;
    cursor: pointer;
  }

  .profile:hover {
    opacity: 0.6;
  }

  .profileUsername {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.85);
    text-decoration-line: none;
  }

  .profileUsername:hover {
    opacity: 0.6;
  }

  .userImage {
    margin-left: 13px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
  }

  .createArticleButton {
    border: 1px solid #52c41a;
    border-radius: 5px;
    background-color: transparent;
    font-size: 14px;
    padding: 6px 10px;
    color: #52c41a;
    cursor: pointer;
    margin-right: 27px;
    text-decoration-line: none;
  }

  .createArticleButton:hover {
    color: darken($color: #52c41a, $amount: 10);
    border-color: darken($color: #52c41a, $amount: 10);
  }

  .logOutButton {
    width: 109px;
    height: 51px;
    border: 1px solid rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    background-color: transparent;
    font-size: 18px;
    padding: 8px 18px;
    color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
  }

  .logOutButton:hover {
    opacity: 0.6;
  }

  .signUpButton, .signInButton {
    padding: 12px 18px;
    font-size: 18px;
    line-height: 28px;
    text-decoration-line: none;
    color: black;
  }

  .signUpButton {
    color: #52C41A;
    border: 1px solid #52C41A;
    border-radius: 5px;
  }
}
