.header {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background: #FFFFFF;
  margin-bottom: 26px;
  padding: 22px 0 0 22px;
  .head {
    font-family: Inter, sans-serif;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    text-decoration-line: none;
    color: black;
  }
  .signUpButton, .signInButton {
    margin-right: 22px;
    padding: 12px 18px;
    font-size: 18px;
    line-height: 28px;
    text-decoration-line: none;
    color: black;
  }

  .signUpButton {
    color: #52C41A;
    border: 1px solid #52C41A;
    border-radius: 5px;
  }
}
