.header {
  position: sticky;
  width: 100%;
  height: 80px;
  background: #FFFFFF;
  margin-bottom: 26px;
  padding: 22px 0 0 22px;
  .head {
    font-family: Inter, sans-serif;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    text-decoration-line: none;
    color: black;
  }
}
