.articleItem {
  width: 941px;
  height: 100px;
  background: #FFFFFF;
  margin-bottom: 67px;
  box-shadow: 1px 2px 3px 3px #E5E5E5;
  .articleInfo{
      .shortDescription {
        width: 100px;
        height: 100px;
      }

  }


}