.articleInfo {
  width: 941px;
  height: auto;
  background: #FFFFFF;
  margin-bottom: 67px;
  box-shadow: 1px 2px 3px 3px #E5E5E5;
  padding: 15px;
}

.shortDescription {
  font-size: 12px;
  line-height: 22px;
  margin: 19px 0;
  color: rgba(0, 0, 0, 0.5);
}

.fullDescription ol,
.fullDescription ul
{
  padding-left: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}
p {
  margin-bottom: 14px;
}
.articleBody,
.shortDescription {
  overflow-wrap: anywhere;
}