@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.App {
  min-height: 100vh;
  background-color: #ebeef3;
  display: flex;
  flex-direction: column;
}

.window {
  width: 960px;
  margin: 33px auto 0 auto;
  padding: 0 10px;
}

.window-article {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.form-input {
  width: 384px;
  height: auto;
  background: #FFFFFF;
  border-radius: 5px;
  box-shadow: 1px 2px 3px 3px #E5E5E5;
  padding: 48px 36.5px;
}

.label {
  display: block;
  margin-bottom: 5px;
  margin-top: 12px;
  font-size: 14px;
}

.formInput {
  display: block;
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #d9d9d9;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 2px;
}

.formInput:focus {
  outline: 1px solid #1890ff;
}

.formInput::placeholder {
  color: #bfbfbf;
}

.formInputError {
  border: 1px solid #F5222D
}

.fieldError {
  color: #F5222D;
}
.img-loaded {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

.page-error {
  max-width: 400px;
  margin: 150px auto;
  padding: 20px 20px 0;
  font-size: 24px;

  border-radius: 5px;
  border: 1px solid #F5222D;
  color: #F5222D;
  background: #fff;
}