.article {
  padding: 35px 19px 40px;
  background-color: #fff;
  margin-top: 24px;
  border-radius: 5px;
  box-shadow: 1px 2px 3px 3px #E5E5E5;;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}